.clock__time-wrapper{
    flex-basis: 60%;
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: flex-end;

  }
  .clock__time-welcome{
    font-size: 3rem;
    width: 800px;
    display: flex;
    align-items: center;

  }
  .clock__time-sun-moon{
    display: inline;
    width: auto;
    margin-right: 10px;
  }
  .clock__time{
    font-size: 20rem;

  }

  .clock__time-span{
    font-size: 4rem;

  }

  .clock__time-city{
    font-size: 2.4rem;

  }
  .clock__time-wrapper2 {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .clock__button-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
  
  }
  
  .clock__button{
  height: 56px;
  width: 146px;
  background-color: white;
  border-radius: 50px;
display: flex;
justify-content: center;
align-items: center;
  }
  .clock__button-text{
    letter-spacing: 0.5rem;
    text-transform: uppercase;
    opacity: 0.5;
    color: black;
  }

  .clock__button-img-wrapper{
    width: 40px;
    height: 40px;
    background-color: #303030;
    border-radius: 50%;
    margin-left: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .clock__button-img-down{
  width: 14px;
  }
  .clock__button-img-up{
    width: 40px;
    }

  @media(max-width:1439px){
    .clock__button{
      height: 50px;
      width: 130px;


      }
      .clock__button-text{
        font-size: 1.5rem;
     
      }
      .clock__button-img-wrapper{
        width: 36px;
        height: 36px;
        margin-left: 10px;
      
      }
      .clock__button-img-up{
        width: 36px;
        }
        .clock__button-img-down{
          width: 12px;
          }
  }
